{% assign posts = site.data.lorem_ipsum %}
{% assign cols = include.columns | default: 3 %}

<!-- LATEST BLOG POSTS -->
<section class="section section-featured-blog-posts {{ include.theme }}">
	<div class="container">

		<!-- <h2 class="mb-4">Heading</h2> -->

		<div class="row">
			{% for item in posts | limit: 3 %}
				<div class="col-md-6 col-lg-4 mb-4">

					<!-- CARD -->
					<div class="card h-100" style="border: 0;">

						<!-- IMAGE -->
						<a class="btn-tile" href="{{ item.url }}">
							<img width="100%" class="card-img-top" src="/assets/img/layout/card-sizer--570x1000.svg" alt="{{ item.title }}">
							<span class="btn-tile-bg" style="background-image: url({{ item.image }})"></span>
						</a>

						<!-- CARD BODY -->
						<div class="card-body d-flex flex-column px-0">

							<!-- CONTENT -->
							<a class="text-dark" href="{{ item.url }}"><h3 class="card-title">{{ item.title }}</h3></a>
							<p class="card-text">{{ item.body | truncate: 150 }}</p>
							<p><a href="#" class="btn btn-primary">Read more</a></p>

						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
</section>