{% assign settings = site.data.settings %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-4">

				<!-- QUICK LINKS -->
				<h4>Quick Links</h4>
				<ul class="list-unstyled">
					<li><a href="">Standard Page</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Enterprise Wide</a></li>
					<li><a href="">Advanced Page</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4">

				<!-- CONTACT -->
				<h4>Enterprise Wide</h4>
				<p>
					{{ settings.offices[0].title }}<br>
					{{ settings.offices[0].address }}<br>
					<a href="mailto:settings.offices[0].email">{{ settings.offices[0].email }}</a>
				</p>
			</div>
			<div class="col-md-4">

				<!-- SOCIAL MEDIA -->
				<h4>Social Media</h4>
				<!-- <p>Returning soon...</p> -->
				{% include snippets/social_media.html %}

			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
		<div class="row">
			<div class="col-6">
				<small>
					&copy; {{ site.time | date: '%Y' }}&nbsp;&nbsp;&nbsp;
					<a data-toggle="collapse" href="#sitemap">Site Map&nbsp;<i class="fa fa-angle-down"></i></a>
				</small>
			</div>
			<div class="col-6 text-right">
				<small>
					<a class="author-logo" href="">Site by Tom Smith</a>

					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
						<img width="20" height="20" src="{{ settings.author.logo }}" alt="Powered by {{ settings.author.title }}">&nbsp;&nbsp;
				    	<span class="text">{{ settings.author.description }}</span>
					</a>
				</small>
			</div>
		</div>
    </div>
</section>

<!-- FOOTER SITEMAP -->
<section id="sitemap" class="global-footer-sitemap collapse">
	<div class="container">
		<ul class="block-grid-xs-2 block-grid-lg-5">
			{% for item in site.data.sitemap offset: 1 %}
				<li>
					<h5>{{ item.title }}</h5>
					<ul class="list-unstyled">
						{% for item in item.children %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>