{% assign settings = site.data.settings %}
{% assign logo_light = page.logo | default: "/assets/img/content/inspire-logo--light.svg" %}
{% assign logo_dark = page.logo | default: "/assets/img/content/inspire-logo@2x--dark.png" %}

<!-- HEADER TOP -->
<div class="global-header-top hidden-lg-down">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <!-- PHONE -->
                <a href="tel:{{ settings.offices[0].phone }}">
                    <i class="fa fa-phone"></i>&nbsp;
                    <span class="text hidden-sm-down">{{ settings.offices[0].phone }}</span>
                </a>

                <!-- EMAIL -->
                <a class="hidden-sm-down" href="mailto:{{ settings.offices[0].email }}">
                    <i class="fa fa-envelope"></i>&nbsp;  {{ settings.offices[0].email }}
                </a>

            </div>
            <div class="col-6 text-right">

                <!-- OTHER LINK(S) -->
                <!-- <a href="#">
                    <i class="fa fa-user"></i>&nbsp;
                    <span class="text hidden-sm-down">Link</span>
                </a> -->

                <!-- MEMBERS AREA -->
                <div class="dropdown d-inline-block mr-2" style="cursor: pointer">
                    <a id="dropdownMenuButton" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>&nbsp;
                        <span class="text hidden-sm-down">Members Area <i class="fa fa-angle-down"></i></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"><i class="fa fa-sign-in"></i>&nbsp; Login</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-star"></i>&nbsp; Favorites</a>
                    </div>
                </div>

                <!-- SEARCH -->
                <a href="#search" data-search-trigger>
                    <i class="fa fa-search"></i>&nbsp;
                    <span class="text hidden-sm-down">&nbsp;Search</span>
                </a>

            </div>
        </div>
    </div>
</div>

<!-- HEADER BODY -->
<div class="global-header-body">
    <div class="container">

        <!-- LOGO -->
        <a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
            <img class="logo-light" src="{{ logo_light }}" alt="{{ settings.company }}" itemprop="logo">
            <img class="logo-dark" src="{{ logo_dark }}" alt="{{ settings.company }}" itemprop="logo">
        </a>

        <!-- HAMBURGER -->
        <div class="global-header-hamburger hidden-xl-up">
            <div class="lv-hamburger" data-menu-toggle>
                <span class="lv-hamburger-top"></span>
                <span class="lv-hamburger-middle"></span>
                <span class="lv-hamburger-bottom"></span>
                <span class="lv-hamburger-hit"></span>
            </div>
        </div>

        <!-- NAVIGATION -->
        <nav class="global-navigation hidden-lg-down">
            <div class="lv-topbar">
                {% include snippets/navigation.html %}
            </div>
        </nav>

    </div>
</div>