<!-- AFFILIATES -->
<section class="section section-affiliates {{ include.theme }}">
	<div class="container">

		<h2>Affiliates Section</h2>

		<!-- WYSIWYG -->
		<div class="wysiwyg mb-4">
			<p>Mauris ante augue, fringilla non accumsan at, imperdiet vel ipsum. Nunc hendrerit, felis nec hendrerit varius, lacus leo euismod mi, a pulvinar sapien libero.</p>
		</div>

		<ul class="block-grid-xs-4 block-grid-md-8">
			{% for i in (1..4) %}
				<li><img width="100%" src="http://placehold.it/300x300"></li>
			{% endfor %}
		</ul>

	</div>
</section>