{% comment %}
<!--
    BANNER SMALL

    - Updated: 03.04.18
    - Basic carousel functionality, no video, shorter in height
-->
{% endcomment %}

{% assign slides = site.data.carousel_slides %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper {{ include.theme }}" data-carousel>

    <!-- HERO -->
    <div class="lv-hero has-height-preset-1"
        data-flickity='
        {
            "adaptiveHeight": true,
            "autoPlay": false,
            "cellAlign": "left",
            "contain": true,
            "draggable": ">1",
            "dragThreshold": 3,
            "freeScroll": false,
            "freeScrollFriction": 0.075,
            "friction": 0.28,
            "imagesLoaded": true,
            "pageDots": true,
            "prevNextButtons": false,
            "pauseAutoPlayOnHover": false,
            "selectedAttraction": 0.025,
            "watchCSS": false,
            "wrapAround": true
        }'>

        <!-- HERO ITEMS -->
        {% for item in slides %}
            <div class="lv-hero-item align-items-center" style="background-image: url('{{ item.image }}')">

                <!-- HERO CAPTION -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="lv-hero-item-caption p-0 pt-md-5 animated fadeInLeftSubtle">
                                <h1 class="display-1">{{ item.title }}</h1>
                                <p class="lead">{{ item.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div> <!-- /.lv-hero -->

    {% if slides.size > 1 %}
        <!-- CAROUSEL CONTROLS -->
        <div class="lv-hero-carousel-controls hidden-sm-down">
            <span class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    {% endif %}

</div> <!-- /.lv-hero-wrapper -->