<!-- AFFILIATES -->
<section class="section section-affiliates {{ include.theme }}">
	<div class="container">
		<ul class="block-grid-xs-4 block-grid-md-8">
			{% for i in (1..4) %}
				<li><img width="100%" src="http://placehold.it/300x300"></li>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- OUTRO CTA -->
<section class="section section-outro-cta {{ include.theme }}">
	<div class="container">
		<h2>Outro CTA</h2>
		<div class="row">
			<div class="col-md-8">
				<p>Mauris ante augue, fringilla non accumsan at, imperdiet vel ipsum. Nunc hendrerit, felis nec hendrerit varius, lacus leo euismod mi, a pulvinar sapien libero.</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<p><a class="btn btn-block btn-primary" href="#">Get in touch</a></p>
			</div>
		</div>
	</div>
</section>