<!-- OUTRO -->
<section class="section section-outro {{ include.theme }}">
	<div class="container">
		<h2>Outro Section</h2>
		<div class="row">
			<div class="col-md-8">
				<p>Mauris ante augue, fringilla non accumsan at, imperdiet vel ipsum. Nunc hendrerit, felis nec hendrerit varius, lacus leo euismod mi, a pulvinar sapien libero.</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<p><a class="btn btn-block btn-primary" href="#">Get in touch</a></p>
			</div>
		</div>
	</div>
</section>