<!-- TEXT SECTION -->
<section class="section section-text section-text-media {{ include.theme }}">
	<div class="container">

		<div class="row">
			<div class="col-md-6 d-flex flex-row align-items-center">

				<div>
					<h2>Text Section</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex. <a href="#">Link inside paragraph</a><p>
				</div>
			</div>
			<div class="col-md-6">
				<a href="#" title="Fig. 4B - Description goes here, longer text if required">
				      <img width="100%" src="http://placehold.it/500x400" alt="...">
				</a>
			</div>
		</div>
	</div>
</section>