{% assign id = include.id %}
{% assign bg_image = include.bg_image %}
{% assign columns = include.columns | default: 2 %}
{% assign options = include.options %}
{% assign posts = site.data.lorem_ipsum %}

{% capture cell_grouping %}
	{% if columns > 2 %}
		group-by-three
	{% else %}
		group-by-two
	{% endif %}
{% endcapture %}

<!-- CARDS SLIDER -->
<section id="{{ id }}" class="section {{ options }}" style="background-image: url({{ bg_image }})">
	<div class="container">

		<h2>Cards Slider Component</h2>

		<!-- WYSIWYG #1 -->
		<div class="row">
			<div class="col-md-11 col-lg-10">
				<div class="wysiwyg mb-3">
					<p>The Cards Slider Component will create a carousel of 2 or 3 cards.</p>
					<h6>Modifiers:</h6>
					<ul>
						<li><code>.is-flat</code> - this will strip cards of their depth and shadow</li>
						<li><code>2 or 3 columns</code> - this is drawn with template code. Pop open the include to see how this is achieved. <b>The default is two</b>.</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- CARD SLIDER -->
		<div class="card-slider"
			data-card-slider
			data-flickity='
		    {
		        "adaptiveHeight": false,
		        "autoPlay": false,
		        "cellAlign": "left",
		        "contain": true,
		        "draggable": ">1",
		        "dragThreshold": 40,
		        "freeScroll": true,
		        "freeScrollFriction": 0.075,
		        "friction": 0.28,
		        "groupCells": true,
		        "imagesLoaded": true,
		        "pageDots": false,
		        "prevNextButtons": true,
		        "pauseAutoPlayOnHover": false,
		        "selectedAttraction": 0.025,
		        "watchCSS": false,
		        "wrapAround": false
		    }'>
			{% for item in posts | limit: 4 %}
				<div class="card-cell {{ cell_grouping }}">
					{% include components/cards/card.html %}
				</div>
			{% endfor %}
		</div>

		<!-- WYSIWYG #2 -->
		<div class="row">
			<div class="col-md-8">
				<div class="wysiwyg mb-4">
					<small><sup>2</sup> Yael Zarhy-Levo, The theatrical critic as cultural agent: constructing Pinter, Orton and Stoppard as absurdist playwrights (New York: Peter Lang, 2001).</small>
				</div>
			</div>
		</div>

	</div>
</section>