/*
    FOOTER.CSS

    - Last updated: 27.06.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer-body {
	padding: $spacer*2.5 0;
	background: $gray-200; // [THEMEABLE]
	color: $body-color; // [THEMEABLE]
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	padding: $spacer/2 0;
	background: $gray-200; // [THEMEABLE] darken($gray-200, 5%);
	color: $body-color; // [THEMEABLE]

	a {
		display: inline-flex;
		align-items: center;
		color: $body-color; // [THEMEABLE]

		.fa-angle-up,
		.fa-angle-down {
			font-size: rem-calc(25);
			transition: transform 400ms ease;

			&.is-active {
				transform: rotate(180deg);
			}
		}
	}

	.author-logo {
		display: inline-block;
		// color: rgba(white, 0.9);
		color: $body-color; // [THEMEABLE]
		// font-size: rem-calc(11);
	}

	//=========================================
	// BLEED TO BOTTOM
	//=========================================

	&:after {
		content: "";
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		z-index: -1;
	}
}

//-----------------------------------------------------------------
// BACK TO TOP
// shares similarity with carousel buttons
//-----------------------------------------------------------------

.global-footer-bottom {

	.back-to-top {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: rem-calc(5 10);
		border: 0;
		margin: rem-calc(-20 0 10 0);
		border-radius: $border-radius;
		background: rgba(black, 0.2);
		transition: all 200ms ease;
		cursor: pointer;

		.text,
		i {
			color: rgba(white, 0.6);
		}

		&:hover {
			background: rgba(black, 0.3);
			transform: scale(0.9);
		}
	}
}

//-----------------------------------------------------------------
// FOOTER SITEMAP (OPTIONAL)
//-----------------------------------------------------------------

.global-footer-sitemap {
	background: darken($gray-200, 5%); // [THEMEABLE]

	> .container {
		padding-top: $spacer*2;
		padding-bottom: $spacer*2;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $body-color; // [THEMEABLE]
	}

	a {
		color: $body-color; // [THEMEABLE] rgba(white, 0.5);

		&:hover {
			opacity: 0.6;
			// color: white;
		}
	}
}

//=========================================
//
//=========================================