/*
    GOOGLE-MAP.CSS

    - Last updated: 07.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GOOGLE MAP
//-----------------------------------------------------------------

.lv-google-map {
    display: flex; // fixed bottom margin error
    position: relative;
    width: 100%;
    overflow: hidden;

    iframe {
        position: relative;
        z-index: 1;
    }

    .fa-spinner {
        position: absolute;
        top: calc(50% - #{rem-calc(40)}/2);
        left: calc(50% - #{rem-calc(50)}/2);
        color: $primary;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================