---
layout: base
---

{% include components/banner_default.html theme="theme-skyblue" %}

<!-- BODY -->
<main class="main-body">
	{% include components/latest_blog_posts.html %}
	<!-- { % include components/text_section.html theme="theme-skyblue" %} -->
	<!-- { % include components/featured_blog_posts.html %} -->
	{% include components/featured_blog_posts.html theme="theme-skyblue" %}
	{% include components/text_section.html %}
	{% include components/text_section.html theme="theme-skyblue" %}
	{% include components/outro_cta.html theme="theme-skyblue" %}
</main>