---
layout: base
---

{% include components/hero/hero_default.html theme="theme-skyblue" align_caption="center" %}

<!-- BODY -->
<main class="main-body">

	<!-- { % include components/text.html %} -->
	<!-- { % include components/text__video_image.html %} -->

	{% include components/cards/cards__carousel.html %}
	{% include components/cards/cards__tabs.html %}
	{% include components/cards/cards.html columns="3" %}


	<!-- { % include components/affiliates.html %} -->
	<!-- { % include components/outro.html %} -->
</main>

