 @charset "utf-8";
/*
    MAIN.CSS

    - Last updated: 06.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// MIXINS
//-----------------------------------------------------------------

@import "liquidvisual/components/em-calc";
@import "liquidvisual/components/rem-calc";

//-----------------------------------------------------------------
// BOOTSTRAP VARIABLES
//-----------------------------------------------------------------

@import "bootstrap/settings";

//*****************************************************************
// USER EDITABLE
//*****************************************************************

// PRIMARY START
$primary: #2981cb;
// PRIMARY END

// LINK-COLOR START
$link-color: $primary;
// LINK-COLOR END

// FONT-IMPORT START
@import url('http://fonts.googleapis.com/css?family=Poppins:100,300,500,400,400i,600,600i');
// FONT-IMPORT END

// FONT-FAMILY START
$font-family-sans-serif: Poppins;
// FONT-FAMILY END

//# FONT-FAMILY PLACEHOLDER #//

// FONT-WEIGHT START
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     600;
// FONT-WEIGHT END

// HEADINGS-FONT-WEIGHT START
$headings-font-weight: 600;
// HEADINGS-FONT-WEIGHT END

// DISPLAY_FONT_WEIGHT START
$display1-weight:      300;
$display2-weight:      300;
$display3-weight:      300;
$display4-weight:      300;
// DISPLAY_FONT_WEIGHT START

// THEMES START
$themes: (
  'skyblue': (
    'primary': $primary,
    'secondary': #38c3e5,
    'text-primary': white,
    'text-secondary': $gray-900,
    // 'link-color': orange,
  ),
  'posh': (
    'primary': #a05cc0,
    'secondary': a05cc0,
    'text-primary': black,
    'text-secondary': $gray-900
  ),
  'silverfox': (
    'primary': $gray-300,
    'secondary': $gray-200,
    'text-primary': blue,
    'text-secondary': $gray-900
  ),
  'midnight': (
    'primary': #222,
    'secondary': white,
    'text-primary': white,
    'text-secondary': $gray-900
  )
  //# THEMES PLACEHOLDER #//
);
// THEMES END

//-----------------------------------------------------------------
// BOOTSTRAP CORE
//-----------------------------------------------------------------

@import "bootstrap/bootstrap";

//-----------------------------------------------------------------
// APPLICATION
//-----------------------------------------------------------------

@import "app/base/variables";
@import "app/base/global";

//=========================================
// COMPONENTS (GLOBBED)
//=========================================

@import "app/components/all";

//=========================================
// LAYOUT
//=========================================

@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/topbar";

//=========================================
// HELPERS
//=========================================

// @import "app/helpers/fonts";
@import "app/helpers/special";
@import "app/helpers/text-editor";
@import "app/helpers/themes";

//-----------------------------------------------------------------
// LOCAL DEPENDENCIES
//-----------------------------------------------------------------

@import "liquidvisual/components/alert-bar";
@import "liquidvisual/components/block-grid";
@import "liquidvisual/components/custom";
@import "liquidvisual/components/toolbox";
@import "liquidvisual/vendor/magnific-popup/main";
// @import "liquidvisual/vendor/syntax-highlighting";

//-----------------------------------------------------------------
// NODE DEPENDENCIES
//-----------------------------------------------------------------

@import "font-awesome/scss/font-awesome";
@import "animate.css/animate";
@import "flickity/dist/flickity";