 @charset "utf-8";
/*
    MAIN.CSS

    - Last updated: 24.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// MIXINS
//-----------------------------------------------------------------

@import "liquidvisual/components/em-calc";
@import "liquidvisual/components/rem-calc";

//-----------------------------------------------------------------
// BOOTSTRAP VARIABLES
//-----------------------------------------------------------------

@import "bootstrap/settings";

//*****************************************************************
// USER EDITABLE
//*****************************************************************

// PRIMARY START
$primary: #2981cb;
// PRIMARY END

//# THEME-BASE PLACEHOLDER #//

// LINK-COLOR START
$link-color: $primary;
// LINK-COLOR END

// FONT-FAMILY START
$font-family-sans-serif: Poppins; // Eg. Open+Sans
// FONT-FAMILY END

//# FONT-FAMILY PLACEHOLDER #//

// FONT-WEIGHT START
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     600;
// FONT-WEIGHT END

// HEADINGS-FONT-WEIGHT START
$headings-font-weight: $font-weight-bold;
// HEADINGS-FONT-WEIGHT END

// DISPLAY-FONT-SIZE START
$display1-size: rem-calc(64);
$display2-size: rem-calc(50);
$display3-size: rem-calc(40);
$display4-size: rem-calc(30);
// DISPLAY-FONT-SIZE END

// DISPLAY-FONT-WEIGHT START
$display1-weight: $font-weight-light;
$display2-weight: $font-weight-light;
$display3-weight: $font-weight-light;
$display4-weight: $font-weight-light;
// DISPLAY-FONT-WEIGHT START

// FONT-IMPORT START
@import url('http://fonts.googleapis.com/css?family=#{$font-family-sans-serif}:#{$font-weight-light},#{$font-weight-semibold},#{$font-weight-normal},#{$font-weight-normal}i,#{$font-weight-bold},#{$font-weight-bold}i|');
// FONT-IMPORT END

// THEMES START
$themes: (
  'base': ( // built in
    'primary': white,
    'secondary': #f7f7f9,
    'text-primary': #212529,
    'text-secondary': $primary
  ),
  'skyblue': ( // built in
    'primary': $primary,
    'secondary': #00b09f,
    'text-primary': white,
    'text-secondary': #212529
  ),
  'posh': ( // built in
    'primary': #a05cc0,
    'secondary': a05cc0,
    'text-primary': white,
    'text-secondary': #212529
  ),
  'silverfox': ( // built in
    'primary': #eceeef,
    'secondary': #e9ecef,
    'text-primary': #212529,
    'text-secondary': $primary
  ),
  'midnight': ( // built in
    'primary': #222,
    'secondary': white,
    'text-primary': white,
    'text-secondary': $primary
  )
  //# THEMES PLACEHOLDER #//
);
// THEMES END

//-----------------------------------------------------------------
// BOOTSTRAP CORE
//-----------------------------------------------------------------

@import "bootstrap/bootstrap";

//-----------------------------------------------------------------
// APPLICATION
//-----------------------------------------------------------------

@import "app/base/variables";
@import "app/base/global";

//=========================================
// COMPONENTS (GLOBBED)
//=========================================

@import "app/components/all";

//=========================================
// LAYOUT
//=========================================

@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/topbar";

//=========================================
// HELPERS
//=========================================

// @import "app/helpers/fonts";
@import "app/helpers/docs";
@import "app/helpers/special";
@import "app/helpers/text-editor";
@import "app/helpers/themes";

//-----------------------------------------------------------------
// LOCAL DEPENDENCIES
//-----------------------------------------------------------------

@import "liquidvisual/components/alert-bar";
@import "liquidvisual/components/block-grid";
@import "liquidvisual/components/custom";
@import "liquidvisual/components/toolbox";
@import "liquidvisual/vendor/magnific-popup/main";
// @import "liquidvisual/vendor/syntax-highlighting";

//-----------------------------------------------------------------
// NODE DEPENDENCIES
//-----------------------------------------------------------------

@import "font-awesome/scss/font-awesome";
@import "animate.css/animate";
@import "flickity/dist/flickity";