{% assign settings = site.data.settings %}
{% assign sitemap = site.data.sitemap %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">

				<!-- QUICK LINKS -->
				<h4 class="mb-3">Quick Links</h4>
				<ul class="list-unstyled">
					{% for item in sitemap %}
						<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">

				<!-- CONTACT -->
				<h4 class="mb-3">{{ settings.company }}</h4>
				<p>
					{{ settings.offices[0].title }}<br>
					{{ settings.offices[0].address }}<br>
					<a href="mailto:settings.offices[0].email">{{ settings.offices[0].email }}</a>
				</p>
			</div>
			<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">

				<!-- SOCIAL MEDIA -->
				<h4 class="mb-3">Social Media</h4>
				{% include components/social_media.html %}

				<div class="spacer mb-4"></div>

				<!-- JOIN OUR NEWSLETTER (OPTIONAL) -->
				<h4 class="mb-3">Join our Newsletter</h4>
				{% include components/forms/form_subscribe.html %}

			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">

    	<!-- BACK TO TOP -->
    	<div class="text-center text-md-right">
    		<button data-back-top class="btn-back-top">
    			<div class="m-auto">
    				<i class="fa fa-angle-up"></i>
    				<span class="text">TOP</span>
    			</div>
    		</button>
    	</div>

		<div class="row">
			<div class="col-md-7 col-lg-9 text-center text-md-left">

				<!-- COPYRIGHT + SITEMAP -->
				<small class="mr-2 d-block d-md-inline">
					&copy; <date class="mr-2">{{ site.time | date: '%Y' }}</date>
					<a data-toggle="collapse" href="#sitemap">Site Map&nbsp;<i class="fa fa-angle-down"></i></a>
				</small>

				<!-- OPTIONAL LINKS -->
				<small class="mr-2"><a href="#">Link One</a></small>
				<small class="mr-2"><a href="#">Link Two</a></small>
				<small class="mr-2"><a href="/kitchen-sink/">Link Three</a></small>

			</div>
			<div class="col-md-5 col-lg-3 text-center text-md-right">

				<!-- AUTHOR -->
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
						<img width="20" height="20" src="{{ settings.author.logo }}" alt="Powered by {{ settings.author.title }}">
				    	<span class="text">{{ settings.author.description }}</span>
					</a>
				</small>

			</div>
		</div>
    </div>
</section>

<!-- FOOTER SITEMAP -->
<section id="sitemap" class="global-footer-sitemap collapse">
	<div class="container">
		<ul class="block-grid-xs-2 block-grid-lg-5">
			{% for item in site.data.sitemap offset: 1 %}
				<li>
					<h5>{{ item.title }}</h5>
					<ul class="list-unstyled">
						{% for item in item.children %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>