{% comment %}
<!-- IF SUCCESS -->
<div class="alert alert-success alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p class="mb-0"><strong>Thanks!</strong> You've been added to the mailing list.</p>
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p class="mb-0"><strong>Oops!</strong> Please try again later.</p>
</div>
{% endcomment %}

<!-- FORM SUBSCRIBE -->
<form name="Subscribe Form" action="/" novalidate>
    <div class="form-group d-block has-icon mb-3">
        <i class="fa fa-envelope"></i>

        <div class="input-group mb-3">
            <input class="form-control" type="email" placeholder="Email Address">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>