{% assign id = 'paypal-form' %}
{% assign endpoint = 'http://liquidvisual.net/form.php' %}

<script src="https://unpkg.com/vue-paypal-checkout/dist/vue-paypal-checkout.min.js"></script>

<div id="{{ id }}" v-cloak>

    <!-- IF SUCCESS -->
    <div v-if="success" class="mb-4 alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thanks <span v-text="form.firstName"></span>!</strong><br> We've received your message and we'll get back to you soon.
    </div>

    <!-- IF FAILURE -->
    <div v-if="failures && !success" class="mb-4 alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Oops!</strong><br> <span v-html="errorText"></span>
    </div>

    <!-- FORM CONTACT -->
    <form class="contact-form" name="Contact Form" @submit.prevent="validateBeforeSubmit" novalidate>
        <fieldset>

            <!-- NAME* -->
            <label class="form-group d-block">
                <p class="mb-2">Full Name<small class="asterisk">*</small></p>
                <input class="form-control" :class="{'is-invalid': errors.has('name') }" name="name" type="text" v-model="form.fullName" v-validate="'required|alpha_spaces'" required>
                <small v-show="errors.has('name')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp;<span v-text="errors.first('name')"></span></small>
            </label>

            <!-- EMAIL* -->
            <label class="form-group d-block">
                <p class="mb-2">Email<small class="asterisk">*</small></p>
                <input class="form-control" :class="{'is-invalid': errors.has('email') && fields.email.touched }" name="email" v-model="form.email" v-validate="'required|email'" type="email" required>
                <small v-show="errors.has('email') && fields.email.touched" class="error shake animated"><i class="fa fa-warning"></i>&nbsp;<span v-text="errors.first('email')"></span></small>
            </label>

            <!-- PHONE -->
            <label class="form-group d-block">
                <p class="mb-2">Phone</p>
                <input class="form-control" :class="{'is-invalid': errors.has('phone') }" name="phone" type="tel" v-model="form.phone" v-validate="'numeric'">
                <small v-show="errors.has('phone')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp; <span v-text="errors.first('phone')"></span></small>
            </label>

        </fieldset>
        <fieldset>

            <!-- MESSAGE -->
            <!-- <label class="form-group d-block">
                <p>Your Message<small class="asterisk">*</small></p>
                <textarea class="form-control" :class="{'is-invalid': errors.has('message') }" name="message" rows="6" v-model="form.message" placeholder="" v-validate="'required|max:2000'" required></textarea>
                <small v-show="errors.has('message')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp; <span v-text="errors.first('message')"></span></small>
            </label> -->

        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-6">

                    <!-- PRODUCT -->
                    <label class="form-group d-block">
                        <p>Product<small class="asterisk">*</small></p>
                        <select class="custom-select" name="product" v-validate="'required'" v-model="form.product" @change="changeProduct">
                            <option disabled selected value="">Choose one</option>
                            <option v-for="(item, key) in products" :key="key" :value="key" v-text="item.name"></option>
                        </select>
                    </label>

                </div>
                <div class="col-md-6">

                    <!-- QUANTITY -->
                    <label class="form-group d-block">
                        <p>Quantity<small class="asterisk">*</small></p>
                        <select class="custom-select" name="quantity" v-validate="'required'" v-model="form.quantity" :disabled="!form.product">
                            <option disabled selected value="">Choose one</option>
                            <option v-for="(item, index) in pricesArray" :key="index" :value="item.id" v-text="item.name"></option>
                        </select>
                    </label>

                </div>
            </div>
        </fieldset>
        <fieldset>

            <!-- TERMS & CONDITIONS -->
            <div class="form-group">
                <label class="custom-control custom-checkbox mb-0">
                    <input
                        class="custom-control-input"
                        name="Terms and Conditions"
                        type="checkbox"
                        value="true"
                        v-validate="'required'"
                        v-model="form.termsAndConditions">

                    <p class="custom-control-label mb-0">I agree to the <a href="#" target="_blank">terms &amp; conditions.</a><small class="asterisk">*</small></p>
                </label>
                <small v-show="errors.has('Terms and Conditions')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp; <span v-text="errors.first('Terms and Conditions')"></span></small>
            </div>

        </fieldset>

        <!-- * REQUIRED -->
        <p class="float-md-right">
            <small class="asterisk">*</small>
            <small class="text-muted" style="position: relative; top: -5px;">required to send</small>
        </p>

        <!-- GOOGLE RECAPTCHA -->
        <!-- <div class="g-recaptcha mb-4" data-sitekey="## PUBLIC KEY GOES HERE ##"></div> -->

        <!-- SUBMIT - old: (errors.any() && !failures) -->
        <button v-if="errors.any() || !isComplete" :disabled="errors.any() || !isComplete || processing" type="submit" class="btn btn-primary mb-4">
            <!-- <div v-show="processing" class="spinner-border text-primary">Loading...</div> -->
            <!-- <span v-show="processing" class="text">Sending</span> -->
            <span v-show="!processing" class="text">Continue</span>
        </button>
        <!-- <button @click="reset" type="button" class="btn btn-primary">Reset</button> -->

        <paypal-checkout
            v-if="!errors.any() && isComplete"
            class="mb-4"
            env="sandbox"
            amount="10.00"
            currency="AUD"
            locale="en_AU"
            :button-style="paypalStyle"
            :client="paypal"
            >
            <!-- @payment-authorized="paymentAuthorized" -->
            <!-- @payment-completed="paymentCompleted" -->
            <!-- @payment-cancelled="paymentCancelled" -->
        </paypal-checkout>

    </form>
</div>

<style>
    .contact-form .btn[disabled="disabled"] {
        /*opacity: 1;*/
        cursor: not-allowed;
    }
</style>

<script>
    //-----------------------------------------------------------------
    //
    //-----------------------------------------------------------------

    Vue.use(VeeValidate, {
        events: 'input' // 'change' or 'blur'
    });

    new Vue({
        el: '#{{ id }}', // <---- this needs to match the parent id
        data() {
            return {
                errorText: '',
                processing: false,
                success: false,
                failures: 0,

                paypal: {
                    sandbox: 'AWi18rxt26-hrueMoPZ0tpGEOJnNT4QkiMQst9pYgaQNAfS1FLFxkxQuiaqRBj1vV5PmgHX_jA_c1ncL',
                    production: ''
                },

                paypalStyle: {
                    label: 'checkout',
                    size:  'medium', // small | medium | large | responsive
                    shape: 'rect', // pill | rect
                    color: 'gold', // gold | blue | silver | black,
                    tagline: false
                },

                products: {
                    '3860': {
                        name: 'Gorge Discovery Flight',
                        active: false,
                        prices: [
                            { id: '3864', name: '1 - $395' },
                            { id: '3865', name: '2 - $700' },
                            { id: '3866', name: '3 - $750' },
                            { id: '3867', name: '4 - $1,000' },
                            { id: '3868', name: '5 - $1,250' },
                            { id: '3869', name: '6 - $1,500' },
                            { id: '3870', name: '7 - $1,750' },
                            { id: '3871', name: '8 - $2,000' },
                            { id: '3872', name: '9 - $2,250' }
                        ]
                    },
                    '4411': {
                        name: 'Great Escarpment Tour',
                        active: false,
                        prices: [
                            { id: '6666', name: '2 - $850' }
                        ]
                    },
                },

                form: {
                    firstName: null, // computed on success
                    fullName: '',
                    email: '',
                    phone: '',
                    product: '', // woo
                    quantity: '',
                    message: '',
                    termsAndConditions: false,
                }
            }
        },

        //-----------------------------------------------------------------
        // COMPUTED
        //-----------------------------------------------------------------

        computed: {
            isComplete() { // * required fields - loop through vee-validate objects
                var emptyRequiredFields = 0;
                for (var item in this.fields) {
                    if (this.fields[item].required) {
                        if (this.form[item] == '' || !this.form.termsAndConditions) emptyRequiredFields++; //|| !this.form.termsAndConditions
                    }
                }
                return !emptyRequiredFields;
            },

            pricesArray(){
                if (this.form.product) {
                    return this.products[this.form.product].prices;
                } else {
                    return '';
                }
            },

            dataString() { // to be send via Axios
                var dataString = '';
                    dataString += 'firstName='+ this.form.fullName.split(' ')[0] + '&'; // add firstName to form data

                for (var item in this.form) {
                    if (item != 'firstName') { // firstName is special case
                        dataString += item + '=' + this.form[item] + '&';
                    }
                }
                return dataString;
            }
        },

        //-----------------------------------------------------------------
        // CREATED
        //-----------------------------------------------------------------

        created(){
            var hashBang_arr = window.location.hash.split('/'); // EG. domain.com/#/3801 <-- product id

            if (hashBang_arr.length > 1) {
                var productId = hashBang_arr[1];
                this.form.product = productId;
            }
        },

        //-----------------------------------------------------------------
        // METHODS
        //-----------------------------------------------------------------

        methods: {
            validateBeforeSubmit() {
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.postData();
                    } else {
                        //this.failures++; // used for returning with server errors // update: this works better I think
                        // failures will show the error box which is for server errors only
                        this.success = false;
                        this.processing = false;
                        // flash failures here?
                    }
                });
            },

            changeProduct(){
                this.form.quantity = '';
                window.location.hash = '#/'+this.form.product; // map hash
            },

            //==================================================
            // POST DATA
            //==================================================

            postData() {
                axios({
                    method: 'POST',
                    url: '{{ endpoint }}',
                    data: this.dataString
                })
                .then(response => {
                    this.validateResponse(response.data);
                    this.processing = false;
                })
                .catch(error => {
                    this.processing = false;
                    this.failures++;
                    this.errorText = 'There was an error with the server. Please try again later.';
                    window.scrollTo(0,0);
                });
            },

            //==================================================
            // VALIDATE RESPONSE
            //==================================================

            validateResponse(data) {
                if (data.success === true) {
                    this.success = true;
                    this.reset(true);
                    window.scrollTo(0,0);
                }
                else {
                    this.failures++;
                    this.success = false;
                    window.scrollTo(0,0);

                    for (var error in data.errors) {

                        var field = error.split('.')[1];
                        var messages = data.errors[error]; // array

                        if (field) { // cannot be undefined
                            this.errorText = 'Please check the following errors: <br>';

                            for (var i = 0; i < messages.length; i++) {
                                // don't add these unless:
                                // 1. backend is aware of 'rules'
                                // 2. email etc is validated
                                // this.errors.add(field, messages[i]);
                                // console.log('field: '+messages[i]);
                                this.errorText += messages[i] + '<br>';
                            }
                        }
                    }
                }
            },

            //==================================================
            // RESET (for success or clear)
            //==================================================

            reset(success) {
                // https://github.com/baianat/vee-validate/issues/209
                // Object.assign(this.$data, this.$options.data.call(this));

                var firstNameTemp = this.form.fullName.split(' ')[0]; // store before wipe

                for (var item in this.form) {
                    this.form[item] = ''; // clear all
                }

                if (success) this.form.firstName = firstNameTemp.charAt(0).toUpperCase() + firstNameTemp.slice(1); // capitalize
                this.success = success === true; // t/f
                this.$validator.reset();
            }
        }
    })
</script>