<script src="https://www.google.com/recaptcha/api.js"></script>

<div id="app" v-cloak>

    <!-- IF SUCCESS -->
    <!-- <div v-if="success" class="mb-4 alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success!</strong><br> Thanks for that. We'll get back to you soon.
    </div> -->

    <!-- IF FAILURE -->
    <!-- <div v-if="failures" class="mb-4 alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Oops!</strong><br> <span v-html="errorText"></span>
    </div> -->

    <div class="mb-4 alert alert-danger" role="alert">
        Incomplete, still in progress...
    </div>

    <!-- FORM CONTACT -->
    <form name="Paypal Form" @submit.prevent="validateBeforeSubmit" novalidate>
        <fieldset>

            <!-- NAME* -->
            <label class="form-group d-block">
                <p class="mb-2">Full Name<small class="asterisk">*</small></p>
                <input class="form-control" :class="{'is-invalid': errors.has('name') }" name="name" type="text" v-model="name" v-validate="'required|alpha'" required>
                <small v-show="errors.has('name')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp;<span v-text="errors.first('name')"></span></small>
            </label>

            <!-- EMAIL* -->
            <label class="form-group d-block">
                <p class="mb-2">Email<small class="asterisk">*</small></p>
                <input class="form-control" :class="{'is-invalid': errors.has('email') && fields.email.touched }" name="email" v-model="email" v-validate="'required|email'" type="email" required>
                <small v-show="errors.has('email') && fields.email.touched" class="error shake animated"><i class="fa fa-warning"></i>&nbsp;<span v-text="errors.first('email')"></span></small>
            </label>

            <!-- PHONE -->
            <label class="form-group d-block">
                <p class="mb-2">Phone</p>
                <input class="form-control" :class="{'is-invalid': errors.has('phone') }" name="phone" type="tel" v-model="phone" v-validate="'numeric'">
                <small v-show="errors.has('phone')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp; <span v-text="errors.first('phone')"></span></small>
            </label>

        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-md-6">

                    <!-- REFERRAL -->
                    <label class="form-group d-block">
                        <p>Product<small class="asterisk">*</small></p>
                        <select class="custom-select" name="Referral" v-model="referral">
                            <option disabled selected value="">Choose one</option>
                            <option value="Google">Google</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Friend">Word of mouth</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>

                </div>
                <div class="col-md-6">

                    <!-- QUANTITY -->
                    <label class="form-group d-block">
                        <p>Quantity<small class="asterisk">*</small></p>
                        <select class="custom-select" name="Referral" disabled>
                            <option disabled selected value="">Choose one</option>
                            <option value="Google">Google</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Friend">Word of mouth</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>

                </div>
            </div>
        </fieldset>
        <fieldset>

            <!-- TERMS & CONDITIONS -->
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="Newsletter" value="true" v-model="newsletter">
                    <p class="custom-control-label">Terms &amp; Conditions<small class="asterisk">*</small></p>
                </label>
            </div>

        </fieldset>

        {% comment %}
        <fieldset>

            <!-- MESSAGE -->
            <label class="form-group d-block">
                <p>Your Message<small class="asterisk">*</small></p>
                <textarea class="form-control" :class="{'is-invalid': errors.has('message') }" name="message" rows="6" v-model="message" placeholder="" v-validate="'required|max:2000'" required></textarea>
                <small v-show="errors.has('message')" class="error shake animated"><i class="fa fa-warning"></i>&nbsp; <span v-text="errors.first('message')"></span></small>
            </label>

        </fieldset>
        {% endcomment %}

        <!-- * REQUIRED -->
        <p class="float-md-right">
            <small class="asterisk">*</small>
            <small class="text-muted" style="position: relative; top: -5px;">required to send</small>
        </p>

        <!-- GOOGLE RECAPTCHA -->
        <!-- <div class="g-recaptcha mb-4" data-sitekey="## PUBLIC KEY GOES HERE ##"></div> -->

        <!-- SUBMIT -->
        <button :disabled="(errors.any() && !failures) || !isComplete || processing" type="submit" class="btn btn-primary mb-4">
            <div v-show="processing" class="spinner-border text-primary">Loading...</div>
            <span v-show="processing" class="text">Sending Message</span>
            <span v-show="!processing" class="text">Send Message</span>
        </button>
        <!-- <button @click="reset" type="button" class="btn btn-primary">Reset</button> -->

    </form>
</div>

<script>
    //-----------------------------------------------------------------
    //
    //-----------------------------------------------------------------

    Vue.use(VeeValidate, {
        events: 'input' // 'change' or 'blur'
    });

    new Vue({
        el: '#app', // <---- this needs to match the wrapper id
        data() {
            return {
                errorText: '',
                processing: false,
                success: false,
                failures: 0,

                name: '',
                email: '',
                phone: '',
                referral: '',
                message: '',
                newsletter: false,
            }
        },

        //-----------------------------------------------------------------
        // COMPUTED
        //-----------------------------------------------------------------

        computed: {
            isComplete() { // * required fields
                return this.name && this.email && this.message;
            },
            dataString() {
                return 'name=' + this.name + '&' +
                       'email=' + this.email + '&' +
                       'phone=' + this.phone + '&' +
                       'message=' + this.message + '&' +
                       'referral=' + this.referral + '&' +
                       'newsletter=' + this.newsletter; // ADD EXTRA HERE
            }
        },

        //-----------------------------------------------------------------
        // METHODS
        //-----------------------------------------------------------------

        methods: {
            validateBeforeSubmit() {
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.postData();
                    } else {
                        this.failures++; // used for returning with server errors
                        this.success = false;
                        this.processing = false;
                    }
                });
            },

            //==================================================
            // POST DATA
            //==================================================

            postData() {
                axios({
                    method: 'POST',
                    url: 'http://liquidvisual.net/form.php',
                    data: this.dataString
                })
                .then(response => {
                    // if callerid == {{ id }}
                    this.validateResponse(response.data);
                    this.processing = false;
                })
                .catch(error => {
                    this.processing = false;
                    this.failures++;
                    window.scrollTo(0,0);
                    this.errorText = 'There was an error with the server. Please try again later.';
                });
            },

            //==================================================
            // VALIDATE RESPONSE
            //==================================================

            validateResponse(data) {
                if (data.success === true) {
                    this.success = true;
                    this.reset(true);
                    window.scrollTo(0,0);
                }
                else {
                    this.failures++;
                    this.success = false;
                    window.scrollTo(0,0);

                    for (var error in data.errors) {

                        var field = error.split('.')[1];
                        var messages = data.errors[error]; // array

                        if (field) { // cannot be undefined
                            this.errorText = 'Please check the following errors: <br>';

                            for (var i = 0; i < messages.length; i++) {
                                // this.errors.add(field, messages[i]);
                                // console.log('field: '+messages[i]);
                                this.errorText += messages[i] + '<br>';
                            }
                        }
                    }
                }
            },

            //==================================================
            // RESET (for success or clear)
            //==================================================

            reset(success) {
                // https://github.com/baianat/vee-validate/issues/209
                Object.assign(this.$data, this.$options.data.call(this));
                this.success = success === true; // t/f
                this.$validator.reset();
            },
        }
    })
</script>