/*
    THEMES.CSS

    - updated: 11.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// THEMEIFY MIXIN
//-----------------------------------------------------------------

@mixin themify($theme, $colors) {
	.theme-#{$theme} { // Output a theme selector

		//-----------------------------------------------------------------
		// VARIABLES
		//-----------------------------------------------------------------

	 	$primary: map-get($colors, 'primary');
	 	$secondary: map-get($colors, 'secondary');
	 	$text-primary: map-get($colors, 'text-primary');
	 	$text-secondary: map-get($colors, 'text-secondary');

	 	&.btn {
	 		background-color: $primary;
	 	}

	 	//-----------------------------------------------------------------
	 	// TOP SECTIONS - replace with wysiwyg
	 	//-----------------------------------------------------------------

	 	&.section {
	 		background-color: $primary;

	 		// // SHALLOW HEADERS (no sub-component)
	 		h1, h2, h3, h4, h5, h6 {
	 			color: $text-primary;
	 		}
	 	}

	 	//-----------------------------------------------------------------
	 	// WYSIWYG
	 	//-----------------------------------------------------------------

	 	.wysiwyg {
	 		color: $text-primary;

	 		a:not(.btn), button {
	 			color: $text-secondary;
	 		}

	 		button, .btn-primary {
				background-color: $text-primary;
				border: 0; // move this elsewhere
				color: $primary;
	 		}
	 	}

		//-----------------------------------------------------------------
		// HEADER
		//-----------------------------------------------------------------

		// when scrolling, colour topbar
		&.headroom--not-top {
			&.global-header {
				.global-header-body {
					background: $primary;
				}
			}
		}

		// use banner behind to color topbar
		&.global-header {
			background: transparent;
		}

		// top bar is tinted dark
		&.global-header .global-header-top a {
			color: $text-primary;
		}

		&.global-header {
			.lv-hamburger-top,
			.lv-hamburger-middle,
			.lv-hamburger-bottom {
				background: $text-primary;
			}
		}

		//-----------------------------------------------------------------
		// TOPBAR
		//-----------------------------------------------------------------

		// everything is white
		.lv-topbar .top-parent-anchor {
			color: $text-primary;
		}

		// active text underline is white
		.lv-topbar .active .top-parent-anchor .text {
		    border-color: $text-primary;
		}

		// anchor hover is darker
		.lv-topbar .top-parent-anchor:hover {
		    background: rgba(black, 0.1);
		}

		//-----------------------------------------------------------------
		// HERO
		//-----------------------------------------------------------------

		&.lv-hero-item {
			background-color: $primary;

			.lv-hero-item-caption {
			    color: $text-primary;
			}
		}

		//-----------------------------------------------------------------
		// HERO
		//-----------------------------------------------------------------

		&.lv-breadcrumb-wrapper {
			background-color: lighten($primary, 4%);

			a {
			    color: $text-primary;
			}
		}

		//-----------------------------------------------------------------
		// GLOBAL FOOTER
		//-----------------------------------------------------------------

		&.global-footer {
			.global-footer-body,
			.global-footer-bottom {
				background: $primary;
			}

			h1, h2, h3, h4, h5, h6,
			p, ul, ol, small, a {
				color: $text-primary;
			}

			.global-footer-sitemap {
				background: darken($primary, 5%);

				a  {
					color: $text-primary;
				}
			}
		}

		//-----------------------------------------------------------------
		// BTN TABS
		//-----------------------------------------------------------------

		.btn-tab {
		    color: $text-primary;

		    &.active {
		        background: darken($primary, 5%);
		        // color: $text-primary;
		    }
		}

		//-----------------------------------------------------------------
		// CARDS
		//-----------------------------------------------------------------

		.card {
			h1, h2, h3, h4, h5, h6 {
				color: $body-color;
			}
		}

		.card-slider {
			.flickity-button {
				opacity: 1;
			}

			.flickity-button-icon {
				fill: $text-primary;
			}
		}

		.card {
			.card-body {
				padding: $card-spacer-x;
			}
		}
	}
}

//-----------------------------------------------------------------
// CREATE THEMES
//-----------------------------------------------------------------

@each $theme, $colors in $themes {
	@include themify($theme, $colors);
}

//-----------------------------------------------------------------
// MODIFIER PROPS
//-----------------------------------------------------------------

.is-tinted {
	// top bar is tinted dark
	&.global-header .global-header-top {
		background: transparent;
	}

	&.global-header {
		background: rgba(black, 0.2);
	}
}

//=========================================
//
//=========================================