/*
    THEMES.CSS

    - updated: 19.03.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// THEMEIFY MIXIN
//-----------------------------------------------------------------

@mixin themify($theme, $colors) {
	.theme-#{$theme} { // Output a theme selector

		//-----------------------------------------------------------------
		// VARIABLES
		//-----------------------------------------------------------------

	 	$primary: map-get($colors, 'primary');
	 	$secondary: map-get($colors, 'secondary');
	 	$text-primary: map-get($colors, 'text-primary');
	 	$text-secondary: map-get($colors, 'text-secondary');

	 	//-----------------------------------------------------------------
	 	// TOP SECTIONS
	 	//-----------------------------------------------------------------

	 	&.section {
	 		background-color: $primary;

	 		// // SHALLOW HEADERS (no sub-component)
	 		> .container > h1,
	 		> .container > h2,
	 		> .container > h3,
	 		> .container > h4,
	 		> .container > h5,
	 		> .container > h6,
	 		> .container > p,
	 		> .container > ul,
	 		> .container > ol, {
	 			color: $text-primary;
	 		}

	 		// SHALLOW LINKS (no sub-component)
	 		> .container > p > a {
	 			color: $text-primary;
	 			font-weight: bold;

	 			&:hover {
	 				color: lighten($text-secondary, 10%);
	 			}
	 		}
	 	}

		//-----------------------------------------------------------------
		// HEADER
		//-----------------------------------------------------------------

		// when scrolling, colour topbar
		&.headroom--not-top {
			&.global-header {
				.global-header-body {
					background: $primary;
				}
			}
		}

		// use banner behind to color topbar
		&.global-header {
			background: transparent;
		}

		// adhoc logo for demo
		&.global-header .logo .logo-dark {
			display: none;
		}

		// adhoc logo for demo
		&.global-header .logo .logo-light {
			display: block;
		}

		// top bar is tinted dark
		&.global-header .global-header-top {
			background: rgba(black, 0.2);

			a {
				color: white; // // [THEMEABLE]
			}
		}

		&.global-header {
			.lv-hamburger-top,
			.lv-hamburger-middle,
			.lv-hamburger-bottom {
				background: white;
			}
		}

		//-----------------------------------------------------------------
		// TOPBAR
		//-----------------------------------------------------------------

		// everything is white
		.lv-topbar .top-parent-anchor {
		    color: white;
		}

		// active text underline is white
		.lv-topbar .active .top-parent-anchor .text {
		    border-color: white;
		}

		// anchor hover is darker
		.lv-topbar .top-parent-anchor:hover {
		    background: rgba(black, 0.1);
		}

		//-----------------------------------------------------------------
		// BANNER
		//-----------------------------------------------------------------

		&.lv-hero-wrapper {
			background-color: $primary;

			h1, h2, h3, h4, h5, h6,
			p {
				color: $text-primary;
			}
		}

		//-----------------------------------------------------------------
		// GLOBAL FOOTER
		//-----------------------------------------------------------------

		&.global-footer {
			.global-footer-body,
			.global-footer-bottom {
				background: $primary;
			}

			h1, h2, h3, h4, h5, h6,
			p, ul, ol, small, a {
				color: $text-primary;
			}

			.global-footer-sitemap {
				background: darken($primary, 5%);

				a  {
					color: $text-primary;
				}
			}
		}

		//-----------------------------------------------------------------
		// SECTION FEATURED BLOG POSTS
		//-----------------------------------------------------------------

		&.section-featured-blog-posts {
			.card {
				border: 0;
			}
		}

		//-----------------------------------------------------------------
		// OUTRO CTA
		//-----------------------------------------------------------------

		&.section-outro-cta {
			background-color: $secondary;

			> .container {
				h1, h2, h3, h4, h5, h6 {
					color: $text-secondary;
				}
			}
		}
	}
}

//-----------------------------------------------------------------
// CREATE THEMES
//-----------------------------------------------------------------

@each $theme, $colors in $themes {
	@include themify($theme, $colors);
}

//-----------------------------------------------------------------
// MODIFIER PROPS
//-----------------------------------------------------------------

.is-tinted {
	// top bar is tinted dark
	&.global-header .global-header-top {
		background: transparent;
	}

	&.global-header {
		background: rgba(black, 0.2);
	}
}

//=========================================
//
//=========================================