<!-- TEXT BUTTON SECTION -->
<section id="{{ include.id }}" class="section {{ include.theme }}">
	<div class="container">

		<h2>Text Button Section</h2>

		<div class="row">
			<div class="col-md-8">

				<!-- WYSIWYG #1 -->
				<div class="wysiwyg mb-4">
					<p>Mauris ante augue, fringilla non accumsan at, imperdiet vel ipsum. Nunc hendrerit, felis nec hendrerit varius, lacus leo euismod mi, a pulvinar sapien libero.</p>
				</div>

			</div>
			<div class="col-md-4 pl-lg-5">

				<!-- WYSIWYG #2 -->
				<div class="wysiwyg">
					<p><a class="btn btn-block btn-primary" href="#">Get in touch</a></p>
				</div>

			</div>
		</div>
	</div>
</section>