{% comment %}
<p>
	<a href="#" class="btn btn-primary">Primary</a>
	<a href="#" class="btn btn-secondary">Secondary</a>
	<a href="#" class="btn btn-success">Success</a>
	<a href="#" class="btn btn-danger">Danger</a>
	<a href="#" class="btn btn-warning">Warning</a>
	<a href="#" class="btn btn-info">Info</a>
	<!-- <a href="#" class="btn btn-light">Light</a> -->
	<!-- <a href="#" class="btn btn-dark">Dark</a> -->
</p>

<hr>

<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.
Finally, this is a <a href="#">link</a>.</p>

<a href="#">Link here</a>

<br>
<h3>Header (h3)</h3>
<h4>Header (h4)</h4>
<h5>Header (h5)</h5>
<h6>Header (h6)</h6>

<p> ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4>Unordered List</h4>

<ul>
	<li>List item #1</li>
	<li>List item #2</li>
	<li>List item #3
		<ul>
			<li>Nested item #1</li>
			<li>Nested item #2</li>
			<li>Nested item #3</li>
		</ul>
	</li>
	<li>List item #4</li>
	<li>List item #5</li>
</ul>

<h4>Ordered List</h4>

<ol>
	<li>List item #1</li>
	<li>List item #2</li>
	<li>List item #3
		<ol>
			<li>Nested item #1</li>
			<li>Nested item #2</li>
			<li>Nested item #3</li>
		</ol>
	</li>
	<li>List item #4</li>
	<li>List item #5</li>
</ol>
{% endcomment %}