<!-- TEXT MEDIA SECTION -->
<section id="{{ include.id }}" class="section {{ include.theme }}">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pr-md-4 d-flex flex-row align-items-center">
				<div>

					<h2>Text Media Section</h2>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-4">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex. <a href="#">Link inside paragraph</a><p>
					</div>

				</div>
			</div>
			<div class="col-md-6">

				<!-- IMAGE -->
				<div class="popup-gallery" data-group-title="Optional Title Here">
					<a class="btn-tile" href="http://www.youtube.com/watch?v=ScMzIvxBSi4" title="Brief description here, longer text if required.">
						<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="...">
						<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x204)"></span>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>