{% assign id = include.id %}
{% assign bg_image = include.bg_image %}
{% assign options = include.options %}

<!-- TEXT MEDIA -->
<section id="{{ id }}" class="section {{ options }}" style="background-image: url({{ bg_image }})">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pr-md-4 d-flex flex-row align-items-center">
				<div>

					<h2>Text Media Component</h2>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-4">
						<p>This component is a <code>.wysiwyg</code> accompanied by an image or video. The user has to specify an image as a thumbnail. They can also specify a URL for YouTube, Vimeo or Google Maps. If this is left blank, it will default to the image's path.<p>
						<p><b>Note:</b> alignment and order options not demonstrated yet.</p>
					</div>

				</div>
			</div>
			<div class="col-md-6">

				<!-- IMAGE -->
				<div class="popup-gallery" data-group-title="Optional Title Here">
					<a class="btn-tile" href="http://www.youtube.com/watch?v=ScMzIvxBSi4" title="Brief description here, longer text if required.">
						<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="...">
						<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x204)"></span>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>