{% assign image = include.image | default: "http://placehold.it/400x300" %}
{% assign image_desc = include.image_desc | default: "Brief description here, longer text if required." %}
{% assign link = include.media_link | default: "http://www.youtube.com/watch?v=ScMzIvxBSi4" %}

<!-- MEDIA LIGHTBOX -->
<div class="popup-gallery" data-group-title="">
	<a class="btn-tile" href="{{ link }}" title="{{ image_desc }}">
		<img width="100%" src="{{ image }}" alt="{{ image_desc }}">
		<span class="btn-tile-bg" style="background-image: url({{ image }})"></span>
	</a>
</div>